/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
       url('../fonts/pt-sans-v11-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-cyrillic_latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-cyrillic_latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
       url('../fonts/pt-sans-v11-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-cyrillic_latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
  }

:root {
  --basic-white:#ffffff;

  --basic-black: #000000;
  --custom-black: #000101;

  --basic-grey: #F2F2F2;
  --basic-dark-grey: #333333;
  --basic-light-grey: #EBEBEB;
  --custom-light-grey: #E5E5E5;
  --light-grey: #D3D3D3;
  --moderate-grey: #eeeeee;
  --reddish-grey: #ababab;
  --reddish-dark-grey: #666666;

  --light-sky-blue: #87CEFA;
  --basic-light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --moderate-blue: #669ec0;
  --basic-dark-blue: #5496bd;

  --basic-light-brown: #766357;
  --basic-brown: #766357;
  --basic-moderate-brown: #604e43;
  --basic-dark-brown: #503e33;

  --basic-white-rgba: 255, 255, 255;
  --basic-black-rgba: 0, 0, 0;
  --custom-black-rgba: 0, 1, 1;
}

@-webkit-keyframes openForm {
  0% {
    -webkit-transform: translateY(-295px);
            transform: translateY(-295px);
  }

  30% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }

  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes openForm {
  0% {
    -webkit-transform: translateY(-295px);
            transform: translateY(-295px);
  }

  30% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }

  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  height: 100%;
  background: var(--basic-grey);
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-align: center;

  color: var(--basic-black);
  -webkit-box-shadow: 0px 5px 15px rgba(var(--custom-black-rgba), 0.2);
          box-shadow: 0px 5px 15px rgba(var(--custom-black-rgba), 0.2);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 2px dotted var(--light-sky-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*Стили для хэдера*/
.main-header {
  position: relative;
  width: 1200px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: var(--basic-white);
}

.main-header__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -70px;
  overflow: visible;
}

.main-nav__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__site-item {
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
  height: 56px;
  padding: 15px 0;
  margin-left: 5px;
  text-align: center;
}

.main-nav__site-item:nth-child(3) {
  margin-left: auto;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__site-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav__site-link:hover,
.main-nav__site-link:focus {
  color: var(--basic-light-blue);
}

.main-nav__site-link:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.main-nav__site-item_current {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-light-brown);
}

/*Стили для интро*/
.intro {
  width: 1200px;
  min-height: 506px;
  margin: 0 auto;
  background: var(--basic-light-blue);
  background-image:
                  url('../img/welcome.png'),
                  url('../img/polygon_svg.svg'),
                  url('../img/background-photo.png');
  background-repeat: no-repeat;
  background-size:
                  459px 353px,
                  1204px 60px,
                  1200px;
  background-position:
                  top 76px left 50%,
                  bottom -3px left -1px,
                  center -76px;
  background-origin:
                  padding-box,
                  border-box,
                  padding-box;
}

/*Стили для преимуществ*/
.advantages {
  width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  text-align: center;
}

.advantages-intro {
  width: inherit;
  min-height: 216px;
  padding-bottom: 52px;
  padding-top: 45px;
  background-color: var(--basic-white);
}

.advantages__title {
  margin: 0 30% 45px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantages__subtitle {
  margin: 38px auto 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item {
  min-width: 256px;
}

.advantages__content {
  min-width: 400px;
  min-height: 256px;
  padding: 46px 60px 60px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.advantages__advantage-name {
  width: 180px;
  margin: 0 auto 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__advantage-text {
  margin: 0;
  width: 285px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__item_type-1 .advantages__advantage-name {
  margin-bottom: 27px;
}

.advantages__item_type-1 .advantages__advantage-text:first-of-type {
  margin-bottom: 25px;
}

.advantages__item_type-1 .advantages__advantage-text {
  width: 310px;
}

.advantages__item_type-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__item_type-1 .advantages__content {
  padding: 45px 42px 50px;
}

.advantages__item_type-1:nth-of-type(2) .advantages__content {
  padding: 49px 41px 45px 49px;
}

.advantages__item_type-1:nth-of-type(2) .advantages__advantage-name {
  margin-top: 10px;
}

.advantages__item_type-2 {
  width: 400px;
  min-height: 330px;
  padding-top: 56px;
  padding-bottom: 83px;
  text-align: center;
}

.advantages__item_type-2 {
  background-color: var(--basic-white);
}

.advantages__item_type-2:nth-of-type(2) {
  background-position: top 60px center;
  background-size: 75px 72px;
  background-image: url('../img/icon-1.png');
  background-repeat: no-repeat;
}

.advantages__item_type-2:nth-of-type(3) {
  background-position: top 62px center;
  background-size: 74px 70px;
  background-image: url('../img/icon-3.png');
  background-repeat: no-repeat;
}

.advantages__item_type-2:nth-of-type(4) {
  background-position: top 56px center;
  background-size: 64px 76px;
  background-image: url('../img/icon-2.png');
  background-repeat: no-repeat;
}

.advantages__item_type-2 .advantages__advantage-text {
  margin: 0 auto;
}

.advantages__item_type-2 .advantages__advantage-name {
  margin: 105px auto 26px;
}

.advantages__item_type-3 {
  padding-bottom: 64px;
}

.advantages__item_type-3 {
  width: 400px;
  min-height: 256px;
  padding-top: 45px;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--moderate-grey);
  border: none;
}

.advantages__item_type-3 .advantages__advantage-text {
  margin: 0px auto 0px;
}

.advantages__item_type-3 .advantages__advantage-text:nth-child(2) {
  margin: 0 auto 23px;
}

.advantages__item_type-3 .advantages__advantage-name {
  width: 150px;
  margin: 0px auto 28px;
}

/*Стили для букинга*/
.booking {
  position: relative;

  display: -webkit-box;
    display: -ms-flexbox;
      display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1200px;
  min-height: 864px;
  padding: 0;
  padding-top: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  text-align: center;

  background-color: var(--basic-white);
}

.booking__titles-container {
  z-index: 4;
  min-height: 243px;
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
}

.booking__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.booking__subtitle {
  width: 442px;
  margin: 0 auto 22px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}

.booking-form__title {
  position: absolute;
  top: 205px;
  z-index: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  width: 568px;
  height: 86px;

  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-light-brown);
  border: none;
}

.booking-form__title:hover,
.booking-form__title:focus {
  background-color: var(--basic-moderate-brown);
  cursor: pointer;
}

.booking-form__title:active {
  color: rgba(var(--basic-white-rgba), 0.3);
  background-color: var(--basic-dark-brown);
}

.booking-form {
  position: absolute;
  top: 290px;
  left: 316px;
  z-index: 3;

  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 38px 30px 38px 30px 38px 30px 83px;
  grid-template-rows: 38px 38px 38px 83px;
  row-gap: 30px;
  -ms-grid-columns: 103px 13px 114px 13px 87px 13px 114px;
  grid-template-columns: 103px 114px 87px 114px;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
  width: 568px;
  min-height: 395px;
  padding: 55px;

  background-color: var(--basic-white);
}

.booking-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.booking-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.booking-form > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.booking-form > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.booking-form > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.booking-form > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.booking-form > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.booking-form > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.booking-form > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.booking-form > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.booking-form > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.booking-form > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.booking-form > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.booking-form > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.booking-form > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.booking-form > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.form-opened {
  -webkit-animation: openForm 0.3s;
          animation: openForm 0.3s;
}

.booking-form__text {
  margin: 0;
  font-size: 14px;
  line-height: 38px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.booking-form__input-title {
  display: block;
}

.booking-form__input-title:first-of-type {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.booking-form__input-title:nth-of-type(2) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.booking-form__input-title:nth-of-type(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.booking-form__input-title:nth-of-type(4) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  margin-right: 12px;
  text-align: right;
}

.booking-form__input {
  margin: 0;
  padding: 0;
  height: 38px;
  background-color: var(--basic-grey);
  border: none;
}

.booking-form__input:hover {
  background-color: var(--basic-light-grey);
}

.booking-form__input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--custom-light-grey);
}

.booking-form__input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.booking-form__input:-moz-placeholder {
  color: var(--basic-black);
}

.booking-form__input::-moz-placeholder {
  color: var(--basic-black);
}

.booking-form__input:-ms-input-placeholder {
  color: var(--basic-black);
}

.booking-form__input:first-of-type {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: -3;
  grid-column-end: -1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  width: 341px;
  padding-left: 10px;
  text-align: left;
}

.booking-form__input:nth-of-type(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: -3;
  grid-column-end: -1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  width: 341px;
  padding-left: 10px;
  text-align: left;
}

.booking-form__quantity-container .booking-form__input {
  width: 38px;
  text-align: center;
}

.booking-form__date-button {
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.booking-form__date-button:hover,
.booking-form__date-button:focus {
  background-image: url("../img/calendar_black.svg");
  cursor: pointer;
}

.booking-form__date-button:active {
  background-image: url("../img/calendar_active.svg")
}

.booking-form__date-button:first-of-type {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
  margin-top: 8px;
  margin-right: 9px;
  margin-left: auto;
}

.booking-form__date-button:nth-of-type(2) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 4;
      grid-column-start: 4;
  margin-top: 8px;
  margin-right: 9px;
  margin-left: auto;
}

.booking-form__quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  height: 38px;
}

.booking-form__quantity-container:first-of-type {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.booking-form__quantity-container:nth-of-type(2) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.quantity-arrow-minus {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
}

.quantity-arrow-plus {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
}

.quantity-arrow-minus:hover,
.quantity-arrow-minus:focus,
.quantity-arrow-plus:hover,
.quantity-arrow-plus:focus {
  cursor: pointer;
}

.quantity-arrow-minus::before,
.quantity-arrow-plus::before   {
  position: absolute;
  top: 47%;
  left: 35%;
  width: 12px;
  height: 3px;
  content: "";
  background-color: var(--light-grey);
}

.quantity-arrow-plus::after {
  position: absolute;
  top: 47%;
  left: 35%;
  width: 12px;
  height: 3px;
  -webkit-transform: rotate(90deg) ;
      -ms-transform: rotate(90deg) ;
          transform: rotate(90deg) ;
  content: "";
  background-color: var(--light-grey);
}

.quantity-arrow-minus:hover.quantity-arrow-minus::before,
.quantity-arrow-plus:hover.quantity-arrow-plus::before,
.quantity-arrow-plus:hover.quantity-arrow-plus::after {
  background-color: var(--basic-black);
}

.quantity-arrow-minus:active.quantity-arrow-minus::before,
.quantity-arrow-plus:active.quantity-arrow-plus::before,
.quantity-arrow-plus:active.quantity-arrow-plus::after {
  background-color: var(--basic-light-blue);
}

.booking-form__submit {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
  width: 458px;
  height: 58px;
  margin-top: 25px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-light-blue);
  border-style: none;
}

.booking-form__submit:hover,
.booking-form__submit:focus {
  background-color: var(--basic-blue);
  cursor: pointer;
}

.booking-form__submit:active {
  color: rgba(var(--basic-white-rgba), 0.3);
  background-color: var(--basic-dark-blue);
}

.booking-map {
  width: 1200px;
  height: 593px;
  margin: 0 auto;
}

.booking-map__image {
  z-index: 1;
}

.booking-map__interactive {
  position: absolute;
  top: 290px;
  left: 0;
  z-index: 2;
  border: none;
}

/*Стили для футера*/
.main-footer {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  min-height: 120px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'PT Sans', Arial, sans-serif;

  background-color: var(--basic-white);
  opacity: 0.9;
}

.main-footer_index {
  margin-top: -117px;
}

.main-footer_hotels {
  padding-top: 7px;
}

.main-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  padding: 20px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer__contacts p {
  margin: 0 0 4px;
  padding: 0;
}

.main-footer__contacts a {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  text-decoration: none;
  color: var(--basic-black);
}

/*начало стилей соцсетей*/
.main-footer__social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 20%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 33px;
  list-style-type: none;
}

.social-list__item {
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: var(--basic-light-blue);
}

.social-list__item:last-of-type {
  margin-right: 0;
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: var(--moderate-blue);
}

.social-list__item:active {
  background-color: var(--basic-dark-blue);
}

.social-list__logo {
  width: 46px;
  height: 48px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list__logo-twitter {
  background-image: url('../img/tw-icon.svg');
  background-size: 17px 15px;
}

.social-list__logo-fb {
  background-image: url('../img/fb-icon.svg');
  background-size: 12px 22px;
}

.social-list__logo-yt {
  background-image: url('../img/youtube-icon.svg');
  background-size: 20px 16px;
}

.social-list__item:active .social-list__logo-twitter{
  background-image: url('../img/tw-icon_active.svg');
}

.social-list__item:active .social-list__logo-fb{
  background-image: url('../img/fb-icon_active.svg');
}

.social-list__item:active .social-list__logo-yt{
  background-image: url('../img/yt-icon_active.svg');
}

/*Начало стилей копирайта*/
.main-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 40%;
  padding: 0;
  padding-top: 37px;
  margin: 0;
}

.main-footer__copyright-text {
  height: 41px;
  width: 90px;
  margin: 0px 8px 0px 127px;
  font-size: 14px;
  line-height: 41px;
  text-transform: uppercase;
  text-align: right;
}

.main-footer__copyright a {
  width: 115px;
  height: 41px;
  margin: 0;
  padding: 0;
}

.main-footer__copyright-logo {
  width: 115px;
  height: 41px;
  background-image: url('../img/logo-htmlacademy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-footer__copyright-logo:hover,
.main-footer__copyright-logo:focus {
  width: 115px;
  height: 41px;
  background-image: url('../img/logo-htmlacademy_hover.svg');
}

.main-footer__copyright-logo:active {
  width: 115px;
  height: 41px;
  background-image: url('../img/logo-htmlacademy_active.svg');
  background-position: center;
  background-size: contain;
}

/*Стили для hotels main*/
.body-hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding-right: 74px;
  min-height: 210px;

  font-family: inherit;
  color: var(--basic-white);
  text-transform: uppercase;

  background: var(--basic-light-blue);
  background-image: url('../img/filter-background.png');
  background-position: center;
  background-size: cover;
}

.filters__hotel-features {
  margin: 25px 30px 0 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

/*ДВОЙНОЙ СЛАЙДЕР*/
.filters__hotel-features_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 317px;
  padding: 0;
  margin: 25px 0 0 auto;

  color: var(--basic-white);
  text-transform: uppercase;
}

.filters__title_range {
  margin-bottom: 11px;
}

.filters__price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filters__price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--basic-white);
}

.filters__price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.filters__price-controls .filters__min-price,
.filters__price-controls .filters__max-price {
  width: 90px;
}

.filters__price-controls .filters__min-price {
  margin-left: 55px;
}

.filters__price-controls .filters__max-price {
  margin-left: 35px;
}

.filters__price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.filters__range-controls {
  position: relative;
  margin-bottom: 32px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.filters__range-controls .filters__scale {
  height: 2px;
  background: rgba(var(--basic-white-rgba), 0.3);
}

.filters__range-controls .filters__bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.filters__range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: var(--reddish-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(var(--custom-black-rgba), 0.2);
          box-shadow: 0 2px 1px 0 rgba(var(--custom-black-rgba), 0.2);
  cursor: pointer;
}

.filters__range-toggle:hover,
.filters__range-toggle:focus {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.filters__range-toggle-min {
  left: 0;
}

.filters__range-toggle-max {
  left: 80%;
}

.filters__submit {
  min-height: 38px;
  width: 140px;
  margin-left: 83px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;

  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.filters__submit:hover,
.filters__submit:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filters fieldset {
  padding-left: 0;
  border: none;
}

.filters fieldset:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.filters fieldset:nth-of-type(2) {
  margin-left: 6px;
}

.filters__title {
  padding-left: 72px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

fieldset:last-of-type .filters__title {
  padding: 0;
}

.filters__features-list {
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style-type: none;
}

.filters__features-list li {
  margin-top: 20px;
  margin-bottom: 23px;
  padding-left: 72px;
  line-height: 23px;
}

label.features-checkbox {
  position: relative;
  padding-left: 39px;
  line-height: 23px;
  cursor: pointer;
}

.checkbox-indicator {
  width: 27px;
  height: 23px;
}

.features-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;
  background-image: url('../img/square-for-checkbox.svg');
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

.features-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url('../img/square-for-checkbox_disabled.svg');
  background-size: 23px 23px;
  background-repeat: no-repeat;
  cursor: default;
}

.features-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: 2px dotted var(--basic-light-blue);
}

.features-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image:
                  url('../img/square-for-checkbox.svg'),
                  url('../img/tick-for-checkbox.svg');
  background-size: 23px 23px, 22px 17px;
  background-position: top 0 left 0, left 5px bottom 5px;
  background-repeat: no-repeat;
}

.features-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-image:
                  url('../img/square-for-checkbox_disabled.svg'),
                  url('../img/tick-for-checkbox_disabled.svg');
  background-size: 23px 23px, 22px 17px;
  background-position: top 0 left 0, left 5px bottom 5px;
  background-repeat: no-repeat;
  cursor: default;
}

/*Стили для сортировки*/
.hotels-sorting {
  width: 1200px;
  min-height: 86px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 72px;
  margin: 0 auto;
  border-bottom: 1px solid var(--light-grey);
  font-family: 'PT Sans', Arial, sans-serif;
}

.hotels-sorting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotels-sorting__container p:first-of-type {
  min-width: 135px;
  margin-right: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.hotels-sorting__container p:nth-of-type(2) {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.sorting-list__item {
  margin-right: 33px;
}

.sorting-list__link {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(var(--basic-black-rgba), 0.3);
  border-bottom: 1px dotted var(--basic-light-blue);
}

.sorting-list__link:hover,
.sorting-list__link:focus {
  color: var(--basic-light-blue);
}

.sorting-list__link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-list__link_current {
  color: var(--basic-light-blue);
  border: none;
}

.sorting-list__item:last-of-type {
  margin-right: 0;
}

.hotels-sorting__ascending-descending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 110px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.hotels-sorting__ascending-descending li {
  width: 11px;
  height: 10px;
  margin-right: 12px;
}

.hotels-sorting__ascending-descending li:last-of-type {
  margin-right: 0px;
}

.hotels-sorting__ascending {
  background-image: url('../img/icon-up-dir@2x.png');
  background-size: 11px 10px;
  background-position: center;
}

.hotels-sorting__ascending:hover,
.hotels-sorting__ascending:focus {
  background-image: url('../img/icon-up-dir_black.svg');
}

.hotels-sorting__ascending:active {
  background-image: url('../img/icon-down-dir@2x.png');
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hotels-sorting__descending {
  margin-right: 0px;
  background-image: url('../img/icon-down-dir@2x.png');
  background-size: 11px 10px;
  background-position: center;
}

.hotels-sorting__descending:hover,
.hotels-sorting__descending:focus {
  background-image: url('../img/icon-down-dir_black.svg');
}

.hotels-sorting__descending:active {
  background-image: url('../img/icon-down-dir@2x.png');
}

.hotels-sorting__sorting {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0px;
  text-decoration: none;
}

/*Стили для каталога отелей */
.hotels {
  width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
}

.hotels-catalog {
  width: 1200px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  margin: 0 auto;
  padding: 0px 72px;
  border-bottom: 1px solid var(--light-grey);
}

.hotel-card__img {
  vertical-align: bottom;
}

.hotel-card__img-link {
  width: 135px;
  margin-right: 30px;
}

.hotel-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 258px;
  min-height: 90px;
}

.hotel-card__description .hotel-card__name {
  min-width: 258px;
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card__description .hotel-card__name:hover,
.hotel-card__description .hotel-card__name:focus {
  color: var(--basic-light-blue);
}

.hotel-card__description .hotel-card__name:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.hotel-card__description .hotel-card__more-info {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card__description .hotel-card__book {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card__description p {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
}

.hotel-card__description p:first-of-type {
  margin-right: 6px;
}

.hotel-card__type, .hotel-card__price {
  text-align: left;
}

.hotel-card__more-info {
  width: 110px;
  height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--basic-light-blue);
}

.hotel-card__more-info:hover,
.hotel-card__more-info:focus {
  background-color: var(--basic-blue);
}

.hotel-card__more-info:active {
  color: rgba(var(--basic-white-rgba), 0.3);
  background-color: var(--basic-dark-blue);
}

.hotel-card__book {
  width: 142px;
  height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--basic-light-brown);
}

.hotel-card__book:hover,
.hotel-card__book:focus {
  background-color: var(--basic-moderate-brown);
}

.hotel-card__book:active {
  color: rgba(var(--basic-white-rgba), 0.3);
  background-color: var(--basic-dark-brown);
}

.hotel-card__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
  margin-left: auto;
}

.hotel-card__star-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 110px;
}

.hotel-card__star-badges i {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url('../img/star.svg');
}

.hotel-card__star-badges i:last-of-type {
  margin-right: 0;
}

.hotel-card__rating {
  width: 110px;
  height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0px 5px;
  text-align: center;
  color: var(--reddish-dark-grey);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}
